@tailwind base;
@tailwind components;
@tailwind utilities;



:root {
  --fontColor: 0, 0, 0;
  --backgroundColor: 237, 238, 239;
  --primaryColor: 3, 126, 255;
  
}

/* @layer base {

  html  {

  }
} */

@media (prefers-color-scheme: dark) {

  :root {

    --fontColor: 255, 255, 255;
    --backgroundColor: 0, 0, 0;
  }
}

body {
  color: rgb(var(--fontColor));
  background: rgb(var(--backgroundColor))

}



::-webkit-scrollbar {
  width: 0.8rem;
}

::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb {
  background-color: rgba(var(--primaryColor),0.4);
  border-radius: 1rem;
  border: 0.2rem solid transparent;
  background-clip: content-box;
  transition: background-color 100ms ease-in-out; /* Updated transition properties */
  height: 5rem;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(var(--primaryColor),1);
  border-radius: 1rem;
  border: 0.2rem solid transparent;
  background-clip: content-box;
  height: 5rem;
}


/* @layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
 */
